* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/ironman-back-image.jpeg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.game-intro {
  /* float: left; */
  padding: 0% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.game-intro h1 {
  color: red;
  font-size: 7;
  margin-bottom: 20px;
  animation-name: vibrant;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.game-intro p {
  font-size: 18px;
  font-family: "Verdana";
  color: #FDF403;
  animation-name: bounce;
  animation-duration: 5s;
}

.game-board {
  /* float: right; */
  padding: 20px 0;
}

#canvas1 {
  width: 700px;
  height: 500px;
  border: 1px solid black;
  /* margin-top: 100px;
  margin-left: 100px; */
  background: linear-gradient(to bottom, red, gold);
}

#start-button {
  background: #870007;
  color: red;
  padding: 20px 30px;
  margin-bottom: 20px;
  font-size: 25px;
  font-family: Arial, sans-serif;
  border: 2px solid tomato;
  border-radius: 20px;
  transition:
    all 1.2s,
    border 0.5s 1.2s,
    box-shadow 0.3s 1.5s;
  white-space: nowrap;
  text-indent: 23px;
  font-weight: bold;
}

#start-button:hover {
  text-indent: 0;
  background: gold;
  color: red;
  width: 250px;
  border: 10px solid #650816;
  box-shadow: 3px 3px 2px rgba(black, 0.15);
}

@keyframes vibrant {
  from {
    color: red;
  }

  to {
    color: gold;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  30% {
    transform: translateY(-50%);
  }

  50% {
    transform: translateY(-30%);
  }

  70% {
    transform: translateY(0%);
    padding-bottom: 7px;
  }

  100% {
    transform: translateY(0);
    padding-bottom: 9px;
    opacity: 1;
  }
}