 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/ironman-back-image.jpeg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.game-intro {
  padding: 0% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.game-intro h1 {
  color: red;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
  animation-name: vibrant;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.game-intro p {
  font-size: 18px;
  font-family: sans-serif;
  color: #FDF403;
  text-align: center;
}

.game-board {
  padding: 20px 0;
}

#canvas1 {
  width: 700px;
  height: 500px;
}

#start-button {
  background: #870007;
  color: red;
  padding: 15px 30px;
  margin-bottom: 15px;
  font-size: 20px;
  font-family: Arial, sans-serif;
  border: 2px solid tomato;
  border-radius: 20px;
  transition:
    all 1.2s,
    border 0.5s 1.2s,
    box-shadow 0.3s 1.5s;
  white-space: nowrap;
  text-indent: 23px;
  font-weight: bold;
}

#start-button:hover {
  text-indent: 0;
  background: gold;
  color: red;
  width: 250px;
  box-shadow: 3px 3px 2px rgba(black, 0.15);
}

#reset-button{
background: #870007;
color: red;
padding: 15px 30px;
margin-bottom: 15px;
font-size: 20px;
font-family: Arial,
sans-serif;
border: 2px solid tomato;
border-radius: 20px;
transition: all 1.2s,
border 0.5s 1.2s,
box-shadow 0.3s 1.5s;
white-space: nowrap;
text-indent: 23px;
font-weight: bold;
}

#reset-button:hover{
  text-indent: 0;
  background: gold;
  color: red;
  width: 250px;
  box-shadow: 3px 3px 2px rgba(black, 0.15);
}

@keyframes vibrant {
  from {
    color: red;
  }

  to {
    color: gold;
  }
}